{% extends '@ParkManagerCore/admin/security/layout.html.twig' %}

{% set page_heading = 'password_reset.admin_heading'|trans %}
{% if error is defined %}
    {% set error = error|trans({'%reset_url%': path('park_manager.admin.security_request_password_reset')}, 'validators')|raw %}
{% endif %}

{% block content %}
{% if form is defined %}
    <div>
        {{ 'password_reset.confirm.html'|trans|raw }}
    </div>

    {{ form_start(form, {'attr': {'class': 'ui large form'} }) }}
        {{ form_row(form.password) }}
        <div>
            <button type="submit" name="submit">{{ 'button.change_password'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endif %}
{% endblock content %}
