{% extends '@ParkManagerCore/client/security/layout.html.twig' %}

{% set page_heading = 'change_password.heading'|trans %}

{% block content %}
<h1>{{ page_heading }}</h1>
{{ 'change_password.paragraph.html'|trans|raw }}

{{ form_start(form) }}
    {{ form_row(form.cur_password) }}
    {{ form_row(form.new_password) }}

    <div>
        <button type="submit" name="submit">{{ 'button.change_password'|trans }}</button>
    </div>
{{ form_end(form) }}
{% endblock content %}
