{% extends '@ParkManagerCore/client/security/layout.html.twig' %}

{% set page_heading = 'password_reset.admin_heading'|trans %}
{% set page_heading = ('password_reset.client_heading')|trans %}

{% block content %}
    <div>
        {{ 'password_reset.paragraph.html'|trans|raw }}
    </div>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <div>
            <button type="submit" name="submit">{{ 'password_reset.submit_button'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock content %}
