{% extends '@ParkManagerCore/client/security/layout.html.twig' %}

{% set page_heading = 'password_reset.client_heading'|trans %}
{% if form.vars.token_invalid == true %}
    {% set error = 'invalid_split_token'|trans({'%reset_url%': path('park_manager.client.security_request_password_reset')}, 'validators')|raw %}
{% endif %}

{% block content %}
<div>
    {{ 'password_reset.confirm.html'|trans|raw }}
</div>

{{ form_start(form, {'attr': {'class': 'ui large form'} }) }}
    {{ form_errors(form) }}
    {{ form_row(form.password) }}
    <div>
        <button type="submit" name="submit">{{ 'button.change_password'|trans }}</button>
    </div>
{{ form_end(form) }}
{% endblock content %}
